.container {
    padding: 0px;
    padding-top: 0px;
    max-width: 800px;
    margin: auto;
}
.gridjs-table tr {
    border-top: 1px solid #45A7F7;
    text-align: center;
    /* background-color: purple !important; */
    color: #16173B;
}
.gridjs-thead{
    background-color: #2faa5d !important;
    color: #16173B !important;
}
.table td{
    border-top: 1px solid #2faa5d !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(74, 225, 216,.1);
}
.gridjs-table th {
    text-align: center;
    color: #16173B;
}

.head-container{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

table thead{
background: linear-gradient(to right, #2faa5d, #18CA5B); 
color:white;
}
table.dataTable {
    margin: 0;
}
/* Reduce vertical spacing */

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td {
    padding: 4px 8px 4px 8px;
}
/* End Reduce vertical spacing */

.bold-row {
font-weight: bold;
}    

#myChart {
    width: 650px !important;
    height: 650px !important;
}