# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=personalfinances

# Flask Configuration
SECRET_KEY=your_secret_key_here
SECURITY_CSRF_COOKIE_NAME=XSRF-TOKEN
WTF_CSRF_TIME_LIMIT=1200
SECURITY_CSRF_IGNORE_UNAUTH_ENDPOINTS=[]
SECURITY_ENABLED=True
SECURITY_CSRF_PROTECT_MECHANISMS=["session", "basic", "token"]
SECURITY_FRESHNESS_GRACE_PERIOD=300
SECURITY_ANONYMOUS_USER_DISABLED=False
WTF_CSRF_CHECK_DEFAULT=False
