body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}
.form-control-label {
    font-weight: bold;
    color: #16173B;
}
.form-control {
    color: #16173B;
    border-color: #2faa5d;
}
.btn-success {
    background-color: #45a6f7;
    border-color: #45a6f7;
    color: white;
}
.btn-success:hover {
    background-color: #3c8dcf;
    border-color: #3c8dcf;
}
.btn-danger{
    background-color: #16173b;
    border-color: #16173b;
    color: white;
}
.btn-danger:hover{
    background-color: #020308;
    border-color: #020308;

}

.btn-personal {
    border: 0;
    background-color: #2faa5d;
    color: white;
    font-weight: bold;
}
.btn-personal:hover{
    background-color: #45f788;

}
.btn-personal2 {
    border: 0;
    background-color: #45A6F7;
    color: white;
    font-weight: bold;
}
.btn-personal2:hover{
    background-color: #4792ff;
}

.navbar {
    color: white;
    background-color: #16173B;
}
a {
    color: #45A6F7; /* Cambia el valor a tu color deseado */
}

.fixed-width-container {
    width: 100%; /* O un ancho fijo que prefieras */
    overflow-x: auto; /* Permite desplazamiento horizontal si la tabla es demasiado ancha */
}

.dataTable {
    width: 100% !important; /* Fuerza a la tabla a usar el 100% del contenedor */
}