body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}
.form-control-label {
    font-weight: bold;
    color: #16173B;
}
.form-control {
    color: #16173B;
    border-color: #2faa5d;
}
.btn-personal {
    border: 0;
    background-color: #2faa5d;
    color: white;
    font-weight: bold;
}
.btn-personal:hover{
    background-color: #45f788;

}
.btn-personal2 {
    border: 0;
    background-color: #45A6F7;
    color: white;
    font-weight: bold;
}
.btn-personal2:hover{
    background-color: #4792ff;
}

/* .container {
    padding-top: 100px;
    max-width: 800px;
    margin: auto;
} */
.navbar {
    color: white;
    background-color: #16173B;
}
a {
    color: #45A6F7; /* Cambia el valor a tu color deseado */
}