{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('wastes.static', filename='css/style.css') }}">

<div class = head-container>
    <h1>Resumen de gastos</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="start-date" class="form-control-label">Fecha inicial:</label>
                <input type="date" id="start-date" name="start-date" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="end-date" class="form-control-label">Fecha final:</label>
                <input type="date" id="end-date" name="end-date" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <table id="maestroinsumos" class="table table-bordered  display nowrap" cellspacing="0">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Categoria</th>
                    <th>Monto</th>
                    <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Totales</h5>
            <p class="card-text salario-base-color">Gastos totales: <span id="totalMonto">0</span></p>
        </div>
    </div>
    <br>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('wastes.static', filename='js/wastes.js') }}"></script>
{% endblock %}