.container {
    padding: 0px;
    padding-top: 0px;
    max-width: 800px;
    margin: auto;
}

table thead{
background: linear-gradient(to right, #2faa5d, #18CA5B); 
color:white;
}
table.dataTable {
    margin: 0;
}
/* Reduce vertical spacing */

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td {
    padding: 4px 8px 4px 8px;
}
/* End Reduce vertical spacing */

.bold-row {
font-weight: bold;
}    

#myChart {
    width: 650px !important;
    height: 650px !important;
}