{% extends 'base.html' %}
{% block content %}
<br><br>
<link rel="stylesheet" href="{{ url_for('valoracion.static', filename='css/style.css') }}">
<div class="container text-center">
    <h1>Ingresar opciones</h1>

    <form id="dynamicForm" method="post" action = "{{ url_for('valoracion.funcionamiento_base')}}">

        <input type="text" name="csrf_token" value="{{ csrf_token() }}" style="display: none;">

        <div class="table-responsive">
            <table class="table table-bordered" id="dynamicTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th id="property1"><input type="text" name="object1" placeholder = "Propiedad 1"></th>
                        <th id="property2"><input type="text" name="object1" placeholder = "Propiedad 2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="object1" placeholder = "Objeto 1"></td>
                        <td><input type="text" name="prop1_obj1"></td>
                        <td><input type="text" name="prop2_obj1"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="object2" placeholder = "Objeto 2"></td>
                        <td><input type="text" name="prop1_obj2"></td>
                        <td><input type="text" name="prop2_obj2"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Peso</td>
                        <td><input type="text" name="weight1" onchange="checkWeights()"></td>
                        <td><input type="text" name="weight2" onchange="checkWeights()"></td>
                    </tr>
                    <tr>
                        <td>Min/Max</td>
                        <td><select name="minmax1"><option value="min">Min</option><option value="max">Max</option></select></td>
                        <td><select name="minmax2"><option value="min">Min</option><option value="max">Max</option></select></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="btn-group" role="group" aria-label="Table Controls">
            <button type="button" class="btn btn-success" onclick="addProperty()">Añadir Propiedad</button>
            <button type="button" class="btn btn-danger" onclick="removeProperty()">Eliminar Propiedad</button>
        </div>
        <br><br>
        <div class="btn-group" role="group" aria-label="Table Controls">
            <button type="button" class="btn btn-success" onclick="addObject()">Añadir Objeto</button>
            <button type="button" class="btn btn-danger" onclick="removeObject()">Eliminar Objeto</button>
        </div>
        <br><br>

        <button type="submit" class="btn btn-personal">Enviar</button>
    </form>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('valoracion.static', filename='js/evaluation_table.js') }}"></script>
{% endblock %}